.ams-post {
	text-decoration: none;
	width: 400px;

	article {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		color: var(--ams-text);

		img {
			border-radius: 0.75rem;
		}
	}

	.ams-post-metadata {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
}

.ams-post-items {
	display: flex;
	gap: 3.125rem;
	flex-direction: row;
	flex-flow: row wrap;
}

@media (max-width: 800px) {
	.ams-post {
		width: 100%;
	}
}
