.page-contact {
	#contact-hero {
		width: 100%;
		background-color: var(--ams-gray2-lighter);
	}

	#contact-hero .ams-hero-body:first-child {
		background-color: var(--ams-white);
	}

	@media (max-width: 1364px) {
		#contact-hero {
			flex-direction: column;

			.ams-hero-body {
				width: 100% !important;
				max-width: 100% !important;
			}

			.ams-hero-body > div {
				width: calc(100% - 2rem * 2) !important;
				padding: 2rem !important;
			}

			.ams-hero-body:first-child {
				align-items: flex-start;
			}
		}
	}
}
