.page-solutions {
	.ams-solutions-list {
		display: flex;
		flex-direction: row;
		flex-flow: row wrap;
		justify-content: center;
		gap: 2.5rem;

		a {
			display: flex;
			flex-direction: column;
			gap: 1.125rem;
			align-items: center;
			text-decoration: none;
			color: var(--ams-text);
			width: 100px;

			&:hover {
				color: var(--ams-gray3);
			}

			span {
				font-weight: 500;
				font-size: 1.125rem;
			}

			.ams-solution-icon {
				display: flex;
				width: 2.5rem;
				height: 2.5rem;
				border-radius: 0.5rem;
				background-color: var(--ams-red);
				justify-content: center;
				align-items: center;
				color: var(--ams-white);
			}
		}
	}
}
