/* Here, we load in our custom font "Red Hat Display", we're using the woff2 format for optimisation */

@font-face {
	font-family: "Red Hat Display";
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url("/assets/fonts/RedHatDisplay-LightItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Red Hat Display";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("/assets/fonts/RedHatDisplay-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "Red Hat Display";
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url("/assets/fonts/RedHatDisplay-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Red Hat Display";
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("/assets/fonts/RedHatDisplay-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Red Hat Display";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("/assets/fonts/RedHatDisplay-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Red Hat Display";
	font-style: italic;
	font-weight: 800;
	font-display: swap;
	src: url("/assets/fonts/RedHatDisplay-ExtraBoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Red Hat Display";
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url("/assets/fonts/RedHatDisplay-BlackItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Red Hat Display";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("/assets/fonts/RedHatDisplay-Light.woff2") format("woff2");
}

@font-face {
	font-family: "Red Hat Display";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/assets/fonts/RedHatDisplay-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Red Hat Display";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("/assets/fonts/RedHatDisplay-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Red Hat Display";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("/assets/fonts/RedHatDisplay-SemiBold.woff2") format("woff2");
}

@font-face {
	font-family: "Red Hat Display";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/assets/fonts/RedHatDisplay-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Red Hat Display";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url("/assets/fonts/RedHatDisplay-ExtraBold.woff2") format("woff2");
}

@font-face {
	font-family: "Red Hat Display";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("/assets/fonts/RedHatDisplay-Black.woff2") format("woff2");
}
